@import "highlightjs/styles/github.css";
@import "highlightjs/styles/github.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --header-height: 60px;
    --sidenav-height: calc(100vh - var(--header-height));
}

body, html {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

#__next {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
