@import "highlightjs/styles/github.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --header-height: 60px;
    --sidenav-height: calc(100vh - var(--header-height));
}

body,
html {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

/*noinspection CssUnusedSymbol*/
#__next {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}


@media (prefers-color-scheme: dark) {
    body {
        @apply: text-gray-100;
    }
    :focus {
        outline: 2px auto var(--tw-ring-color);
    }
    @import "./node_modules/highlightjs/styles/codepen-embed.css";
}
